---
import GenericHeader from "../../components/GenericHeader.astro";
import Posts from "../../components/Posts.astro";
import Page from "../../layouts/Page.astro";
---
<Page title="Posts" description="split's blog which she will leave unused">

    <GenericHeader text="Posts" image={{isTopper: true, url: "https://mahiro.oyama.pictures/Solemn", alt:"Mahiro Oyama w/ a solemn expression"}} />

    <section id="posts" class="significant">
        <Posts group={{
            by(k, i) {
                let pdate = new Date(k.data.pubDate)
                return `${pdate.getUTCFullYear()}-${(pdate.getUTCMonth()+1).toString().padStart(2, "0")}`
            },
        }}/>
        <br>
    </section>
    
</Page>