---
import pfp from "../images/pfp.png"
import "../style/index.scss";
import PersonHeader from "../components/PersonHeader.astro";
import { Picture } from "astro:assets";
import Page from "../layouts/Page.astro";
import Quotes from "../components/Quotes.astro";
import { 
    siFirefish,
    siDiscord,
    siGithub,
    siSteam,
    siMonkeytype,
    siUpptime,
    siSteamdeck,
    siJavascript,
    siSvelte,
    siAstro,
    siLua,
    siFramework,
    siArchlinux,
siTypescript
} from "simple-icons"
import iconLaptop from "@fluentui/svg-icons/icons/laptop_24_filled.svg?raw"
import Posts from "../components/Posts.astro";
import SocialList from "../components/SocialList.astro";
import Buttons from "../components/buttons/Buttons.astro";
---
<Page title="split's website" description="hi this is my shitty website">
    <PersonHeader
        title="hi, i'm split"
        description="she; terrible developer"
        socials={[
            {url: "https://coolviruses.download/@split", icon: siFirefish.svg, color: "#"+siFirefish.hex},
            {url: "https://discord.com/users/312700896343621633", icon: siDiscord.svg, color: "#"+siDiscord.hex},
            {url: "https://github.com/nbitzz", icon: siGithub.svg},
            {url: "https://steamcommunity.com/id/haha__yes", icon: siSteam.svg, color: "#"+siSteamdeck.hex},
            {url: "https://monkeytype.com/profile/split1337", icon: siMonkeytype.svg, color: "#"+siMonkeytype.hex},
            {url: "https://status.fyle.uk/", icon: siUpptime.svg, color: "#"+siUpptime.hex},
            {url: "/blog/setup", icon: iconLaptop, color: "#AA88FF"}
        ]}>
        <Picture src={pfp} formats={['avif', 'webp']} alt="Mahiro Oyama" />
    </PersonHeader>

    <section class="significant">
        <h2 class="sectionDenoter" id="friends">friends</h2>
        <p>
            <a href="https://jack.cab">Jack</a>,
            <a href="https://charlie.downgraded.uk">Charlie</a>,
            <a href="https://aagaming.me">AAGaming</a>,
            <a href="http://cirroskais.xyz/">cirro</a>, uhh... i don't know i don't have many
        </p>
        <h2 class="sectionDenoter" id="projects">projects</h2>
        <p><a href="https://github.com/mollersuite/monofile">monofile</a>, uhh... that's also the only thing I've really made that's notable lol, and even that's a stretch</p>
        <h2 class="sectionDenoter" id="stuffiknow">stuff i use (or atleast know)</h2>
        <SocialList socials={[
            { url: "https://archlinux.org", icon:siArchlinux.svg, color: "#"+siArchlinux.hex },
            { url: "https://frame.work", icon:siFramework.svg },
            { url: "https://steamdeck.com", icon:siSteamdeck.svg, color: "#"+siSteamdeck.hex },
        ]} />
        <div style="height:10px;" />
        <SocialList socials={[
            { url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript", icon:siJavascript.svg, color: "#"+siJavascript.hex },
            { url: "https://typescriptlang.org", icon:siTypescript.svg, color: "#"+siTypescript.hex },
            { url: "https://lua.org", icon:siLua.svg },
            { url: "https://svelte.dev", icon:siSvelte.svg, color: "#"+siSvelte.hex },
            { url: "https://astro.build", icon:siAstro.svg, color: "#"+siAstro.hex },
        ]} />
        <h2 class="sectionDenoter" id="not-notable-stuff">not-so-notable stuff</h2>
        <p>
            <a href="https://xkcd.uk">xkcd.uk</a>,
            <a href="https://github.com/nbitzz/oyama.pictures">oyama.pictures</a>,
            <a href="https://freerobux.win/">freerobux.win</a> and <a href="/domainlist">family</a>;
            I also run, like, <a href="https://coolviruses.download">coolviruses.download</a>,
            and that's about it<br>
            <small>
                Oh, right, also, my profile picture is sourced from <a href="https://www.pixiv.net/en/artworks/117551007">here</a><br>
                video0.mov if the discord link doesn't work for you<br>
            </small>
        </p>
    </section>

    <Posts display={["postCount", 3]} />

    <Buttons />

    <Quotes quotes={[
        {text: "fucking hehead [sic] split kill that ni[...]", from: "chapel1337"},
        {text: "No I just hate split", from: "WaviestBalloon"},
        {text: "I gotta kill [...] you", from: "StandardizedAnomaly"},
        {text: "You are a techsis", from: "Jack"},
        {text: "how the hell do you have 3786 tabs open", from: "turn"},
        {text: "your [sic] andrew trans", from: "Charlie"},
        {text: "WHAT THE FUCK", from: "Aurora"},
        {text: "Nevermind you really are [stupid]", from: "Xzen"},
        {text: "Gay", from: "Chloe"},
        {text: "Come the fuck on man", from: "micro"},
        {text: "Fuck off", from: "AAGaming"},
        {text: "Hey f[...]ot are you trans yet", from: "methy"},
        {text: "[You are] beyond annoying", from: "python"},
        {text: "https://calyouth.org/cycl", from: "Jade"},
        {text: "CAN YOU JUST KILL YOURSELF ALREADY", from: "cirro"},
        {text: "Your life is nothing! You serve zero purpose! You should kill yourself NOW!", from: "The voices"},
    ]} extraAttributes={{id: "quotes"}} />
</Page>