@import "theme.scss";

:root {
    font-family: "Inter Variable", InterVariable, Inter, sans-serif;
}
  
body {
    background: #B2B2B2;
    margin:0;
}

#background {
    & > * {
        position: fixed;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        object-fit:cover;
        object-position: 70% center;
        background-color: #BDEEF2;
        filter: brightness(75%);
        @media (prefers-color-scheme: light) {
            filter: unset;
        }
    }
}

#all {
    position: absolute;
    left: calc( 100% - 70px );
    transform: translateX(-100%);
    width: 390px;
    color: var(--c-text);
    height: 100%;
    transition-duration: 250ms;

    & svg {
        height: 1em;
        vertical-align:middle;
    }

    & a {
        color: var(--c-subtext0);
    }

    & > header > .contain > *, & > *:not(header) {
        display: inline-block;
        width: calc( 100% - 40px );
        padding: 0 20px;
    }

    /* I'm sorry */

    & > header {
        width:100%;
        height: 100%;
        top: 0;
        overflow: hidden;
        position:relative;

        &.high {
            height: 300px;
        }

        & > .contain {

            top:100%;
            transform: translateY(-100%);
            position: absolute;
            background: var(--c-background);
            border-radius: 16px 16px 0 0;
            width: 100%;
            padding-bottom: 15px;

            & > .topper {
                position:absolute;
                top:35px;
                left: 50%;
                transform: translate(-50%, -100%);
                width:200px;
            }

            &:has(.thumbnail) {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;

                & > .headerContent {
                    padding-top: 10px;
                }
            }

            & > picture {
                position:relative;
                width: 100%;
                padding: 0;
            }

            & .thumbnail {
                width: 100%;
                object-fit: cover;
                max-height: 200px;
                height: auto;
                left: 0px;
                padding: 0;
                border-radius: 16px 16px 0 0;
                mask-image: linear-gradient(to bottom, #fff, transparent)
            }

            & > #whoami {
                --imgSize: 110px;
                --borderThickness: 4px;
                overflow: hidden;

                height: calc( var(--imgSize) / 2 );
                padding: 10px 20px;
                
                img, .lanyardOverlay {
                    height: var(--imgSize);
                    width: var(--imgSize);
                    position: absolute;
                    top: calc(var(--imgSize) / -2);
                }

                & picture > img {
                    border-radius: 100%;
                    border: var(--borderThickness) solid var(--c-background);
                    background: #444444;
                }

                & .lanyardOverlay {
                    left: 20px;
                    top: calc( var(--imgSize) / -2 );
                    padding: var(--borderThickness);

                    & .ornament {
                        /* UNHOLY */
                        --rad: calc(calc(var(--deg) * pi) / 180);
                        left: calc( calc( 100% * calc( calc( cos( var(--rad) ) + 1 ) / 2 ) ) );
                        top: calc( 100% * calc( calc( sin( var(--rad) ) + 1 ) / 2 ) );
                        transform:translate(-50%,-50%);
                        transition-duration: 150ms;
                    }
                        
                    & .activity {
                        height: 25px;
                        width: 25px;
                        object-fit: cover;
                        border-radius: 4px;
                        box-shadow: #222 0px 0px 3px;
                        background-color: var(--c-background);
                        &.sm {
                            height: 20px;
                            width: 20px;
                        }
                    }

                    & .lanyardDot {
                        --deg: 45;
                        border:4px solid var(--c-background);
                        width:20px;
                        height:20px;
                        position:absolute;
                        border-radius:20px;
                        &[data-state="online"] { background-color: var(--c-green) };
                        &[data-state="idle"] { background-color: var(--c-yellow) };
                        &[data-state="dnd"] { background-color: var(--c-red) };
                        &[data-state="offline"] { background-color: var(--c-subtext0) };

                        p {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform:translate(-50%, -50%);
                        }
                    }
                }

                & > hgroup {
                    position: relative;
                    left: calc(var(--imgSize) + calc( calc(var(--borderThickness) * 2) + 10px ));
                    & > * {
                        margin: 0;
                    }
                    & > h1 {
                        font-size: x-large;
                    }
                    & > h2 {
                        font-size: medium;
                        font-weight: 300;
                        color: var(--c-subtext0);
                    }
                }
            }

            & > address, & > .headerContent {
                padding-bottom: 10px;
                text-align: center;
            }

            & > .headerContent {
                padding: 20px;
                &.noBottomPad {
                    padding-bottom: 0 !important;
                }
                & > h1, & > h2 {
                    margin: 0;
                }
            }
        }
    }

    & h2.sectionDenoter {
        text-transform: uppercase;
        text-align: center;
        color: var(--c-subtext0);
        font-size: medium;
        position: relative;
        margin: 15px 0;
        
        &:first-of-type {
            margin: 0 0 15px
        }
    }

    & > .significant {
        background: linear-gradient(to bottom, var(--c-background), var(--c-background-transparent));
        flex-grow: 1;
        flex-shrink: 0;
    }

    & > .insignificant {
        background: var(--c-background-transparent);
    }

    & > footer {
        background: var(--c-background);
        border-radius: 0 0 16px 16px;
        margin-bottom: 50px;
        color: var(--c-subtext1);

        & > h3 {
            margin-bottom: 0;
            font-size: medium;
            text-transform: uppercase;
            & > a:not(.subroute) {
                text-decoration: none;
            }
            & > a.subroute {
                color: var(--c-subtext1);
                font-weight: 400;
                text-transform: none;
            }
        }
        & > p {
            margin-top: 0;
            & > a {
                color: var(--c-subtext1);
            }
        }
    }

    @media screen and (min-width: 640px) {
        &:has(.extendPost:checked) {
            width: 500px;
        }
    }
}

small {
    color: var(--c-subtext0);
}

@media (prefers-reduced-motion) {
    .hide_when_reduced_motion {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    #all {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        & > footer {
            margin-bottom: 0;
            border-radius: 0;
        }
        & > .significant, & > .insignificant {
            backdrop-filter: blur(4px) brightness(75%);
        }

        &:has(> header.high) {
            display: flex;
            flex-direction: column;
            height: auto;
            min-height: 100%;
        }
    }
}

input[type=checkbox] {
    --size: 1em;
    --transitionSpeed: 150ms;

    appearance: none;
    border-radius: calc( var(--size) / 4 );
    background: #ccc;
    height: var(--size);
    aspect-ratio: 1 / 1;
    vertical-align: text-top;
    margin: 3px 0;
    position: relative;
    overflow: hidden;

    transition-duration: var(--transitionSpeed);
    transition-property: background-color;
    box-sizing: content-box;

    @media (prefers-color-scheme: light) {
        border: 2px solid #999;
    }

/*
    &::before {
        content: "○";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: InterVariable, Inter, sans-serif;
        font-weight: 800;
        font-size: calc( calc(var(--size) / 4) * 3 );
        margin: 0;
        color: #999;
    }
*/

    &::before, &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: "Inter Variable", InterVariable, Inter, sans-serif;
        font-weight: 800;
        font-size: calc( calc(var(--size) / 4) * 3 );
        margin: 0;

        transition-duration: var(--transitionSpeed);
        transition-property: opacity, transform;
    }

    &::before {
        content: "▢";
        color: #999;
    }

    &::after {
        content: "✓";
        color: #333333aa;
        opacity: 0;
        transform: translate(100%, -50%);
    }

    &:checked {
        background: #AA88FF;
        &::before {
            opacity: 0;
            transform: translate(-150%, -50%);
        }
        &::after {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    &:not([disabled]) {
        cursor: pointer;
    }
}

@media (prefers-contrast: more) {
    :root {
        --c-background: #000;
        --c-background-transparent: #000;
    }

    body {
        background-color: white;
    }

    .hide_when_high_contrast {
        display: none;
    }
    .insignificant, .significant {
        background-color: var(--c-background) !important;
    }
}

svg { fill: currentColor }

*:focus-visible {
    outline: 2px solid var(--c-subtext0);
}

#all_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: calc(calc(16 / 9) * 100vh);
}