@import "https://rsms.me/inter/inter.css";

:root {
    --backgroundColor: #222;
    --backgroundColorTransparent: #222222AA;
}
  
body {
    background: #FFAA66;
    margin:0;
}

#background {
    & > * {
        position: fixed;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        object-fit:cover;
    }
}

#all {
    position: absolute;
    left: calc( 100% - 70px );
    transform: translateX(-100%);
    width: 390px;
    color: white;
    font-family: "Inter";
    height: 100%;
    transition-duration: 250ms;

    & a {
        color: #ddd;
    }

    & > header > .contain > *, & > *:not(header) {
        display: inline-block;
        width: calc( 100% - 40px );
        padding: 0 20px;
    }

    /* I'm sorry */

    & > header {
        width:100%;
        height: 100%;
        top: 0;
        overflow: hidden;
        position:relative;

        &.high {
            height: 300px;
        }

        & > .contain {

            top:100%;
            transform: translateY(-100%);
            position: absolute;
            background: var(--backgroundColor);
            border-radius: 16px 16px 0 0;
            width: 100%;
            padding-bottom: 15px;

            & > .topper {
                position:absolute;
                top:35px;
                left: 50%;
                transform: translate(-50%, -100%);
                width:200px;
            }

            &:has(> .thumbnail) {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;

                & > .headerContent {
                    padding-top: 10px;
                }
            }

            & > .thumbnail {
                width: 100%;
                max-height: 200px;
                object-fit: cover;
                left: 0px;
                padding: 0;
                border-radius: 16px 16px 0 0;
                mask-image: linear-gradient(to bottom, #fff, transparent)
            }

            & > #whoami {
                --imgSize: 110px;
                --borderThickness: 4px;
                overflow: hidden;

                height: calc( var(--imgSize) / 2 );
                padding: 10px 20px;
                
                & img {
                    height: var(--imgSize);
                    width: var(--imgSize);
                    border-radius: 100%;
                    border: var(--borderThickness) solid var(--backgroundColor);
                    position: absolute;
                    top: calc( 0px - calc(var(--imgSize) / 2) );
                }

                & > hgroup {
                    position: relative;
                    left: calc(var(--imgSize) + calc( calc(var(--borderThickness) * 2) + 10px ));
                    & > * {
                        margin: 0;
                    }
                    & > h1 {
                        font-size: x-large;
                    }
                    & > h2 {
                        font-size: medium;
                        font-weight: 300;
                        color: #ddd;
                    }
                }
            }

            & > address, & > .headerContent {
                padding-bottom: 10px;
                text-align: center;
            }

            & > .headerContent {
                padding: 20px;
                &.noBottomPad {
                    padding-bottom: 0 !important;
                }
                & > h1, & > h2 {
                    margin: 0;
                }
            }
        }
    }

    & h2.sectionDenoter {
        text-transform: uppercase;
        text-align: center;
        color: #ddd;
        font-size: medium;
        position: relative;
        margin: 15px 0;
        
        &:first-of-type {
            margin: 0 0 15px
        }
    }

    & > .significant {
        background: linear-gradient(to bottom, var(--backgroundColor), var(--backgroundColorTransparent));
        flex-grow: 1;
        flex-shrink: 0;

        & > ul.long {
            list-style: none;
            padding: 0;
            text-align: center;
        }
    }

    & > .insignificant {
        background: var(--backgroundColorTransparent);
    }

    & > footer {
        background: var(--backgroundColor);
        border-radius: 0 0 16px 16px;
        margin-bottom: 50px;
        color: #bbb;

        & > h3 {
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: medium;
            & > a {text-decoration: none;}
        }
        & > p {
            margin-top: 0;
            & > a {
                color: #bbb;
            }
        }
    }
}

ul.socialsList {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: default;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    
    & a {
        text-decoration: none;
        transition-duration: 200ms;
        color: #ccc !important;
        display: flex; // makes the li height the same as the svg heigh t
        &:hover {
            color: #fff !important;
        }
        & > svg {
            width: 1em;
            aspect-ratio: 1 / 1;
        }
    }

    & li {
        font-size: x-large;
    }
}

small {
    color: #ddd;
}

@media (prefers-reduced-motion) {
    .hide_when_reduced_motion {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    #all {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        & > footer {
            margin-bottom: 0;
            border-radius: 0;
        }
        & > .significant, & > .insignificant {
            backdrop-filter: blur(4px) brightness(75%);
        }

        & {
            display: flex;
            flex-direction: column;
            height: auto;
            min-height: 100%;
        }
    }

    ul.socialsList > li {
        font-size:x-large;
    }
}

svg { fill: currentColor }

*:focus-visible {
    outline: 2px solid #ccc;
}