.markdown {
    code {
        font-family: monospace monospace;
        background-color: #24292E;
        border-radius: 4px;
        padding: 2px 5px;
    }

    .astro-code {
        padding: 4px 8px;
        border-radius: 4px;
        code {
            padding: 0 !important;
        }
    }
    /*
    & > ul {
        padding-left: 0 !important;
    }

    ul {
        padding-left: 20px;
        li {
            list-style: none;
            position: relative;
            line-break: anywhere;
            &::before {
                padding-right: 5px;
                content: "-";
                color: #AA88FF;
                font-family: monospace, monospace;
                position: relative;
            }
        }
    }*/ // I fucking give up

    ul:not(.long) {
        padding-left: 20px;
        li {
            overflow-wrap: break-word;
            margin: 2px 0;
            &::marker {
                content: "-  ";
                color: #AA88FF;
            }
        }
    }

    ul.long {
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            overflow-wrap: break-word;
        }
    }

    h1, h2, h3 {
        margin-bottom: 0;
    }

    p {
        margin: 0.75em 0;
    }

    & > ul {
        margin: 0;
    }

    & > *:last-child {
        margin-bottom: 1.5em !important;
    }

    .customEmoji {
        height: 1.5em;
        width: auto;
        vertical-align: middle;
        transition-duration: 150ms;
        transition-property: transform;

        &:hover {
            transform: scale(150%);
        }
    }

    blockquote {
        margin: 0;
        padding: 1em;
        border-left: 5px solid #aaa;
        background-color: var(--backgroundColorTransparent);

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    p > img:not(.customEmoji), p > video {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}