---
import type { HTMLAttributes } from 'astro/types'

const { styling, text, image } = Astro.props

interface Props {
    image?: {
        isTopper?: boolean
        url: string
        alt: string
    },
    styling?: {
        noBottomPad?: boolean
    },
    text: string
}
---
<header class="high">
    <div class="contain">
        {
        image ? 
            <>
                {image.isTopper ? <br> : ""}
                <img
                    class:list={[{topper: image.isTopper, thumbnail: !image.isTopper}]}
                    src={image.url}
                    alt={image.alt}
                >
            </>
        : ""
        }
        <div class:list={["headerContent", styling]}>
            <h2>
                {text}
            </h2>
        </div>
    </div>
</header>