---
import IconList, { type Props as IconListProps } from './IconList.astro'
const {
    title,
    description,
    socials
} = Astro.props

interface Props {
    title?: string,
    description?: string,
    socials: IconListProps["list"]
}
---
<header>
    <div class="contain">
        <div id="whoami">
            <!-- 
                2024-08-09:
                    wow this comment really gives off
                    the impression of a person who is
                    mentally well doesnt it 
            -->
            <slot name="pfp" /> <!-- Good enough
                          Time to hang myself -->
            <hgroup>
                <h1>
                    <slot name="title">
                        {title}
                    </slot>
                </h1>
                <h2>
                    <slot name="description">
                        {description}
                    </slot>
                </h2>
            </hgroup>
        </div>

        <address>
            <IconList list={socials} forSocials={true} />
        </address>
    </div>
</header>