---
import SocialList, { type Props as SocialListProps } from './SocialList.astro'
const {
    title,
    description,
    socials
} = Astro.props

interface Props {
    title: string,
    description: string,
    socials: SocialListProps["socials"]
}
---
<header>
    <div class="contain">
        <div id="whoami">
            <slot /> <!-- Good enough
                          Time to hang myself -->
            <hgroup>
                <h1>{title}</h1>
                <h2>{description}</h2>
            </hgroup>
        </div>

        <address>
            <SocialList socials={socials} />
        </address>
    </div>
</header>