---
import IconList, { type Props as IconListProps } from './IconList.astro'
const {
    title,
    description,
    socials
} = Astro.props

interface Props {
    title: string,
    description: string,
    socials: IconListProps["list"]
}
---
<header>
    <div class="contain">
        <div id="whoami">
            <slot /> <!-- Good enough
                          Time to hang myself -->
            <hgroup>
                <h1>{title}</h1>
                <h2>{description}</h2>
            </hgroup>
        </div>

        <address>
            <IconList list={socials} forSocials={true} />
        </address>
    </div>
</header>