---
import type { HTMLAttributes } from 'astro/types'

const {testimonials, noHeader, extraAttributes} = Astro.props

interface Testimonial {
    text: string,
    from: string
}

interface Props {
    testimonials: Testimonial[],
    noHeader?: boolean,
    extraAttributes?: HTMLAttributes<'section'> // i should kill myself
}
---
<style lang="scss">
    .testimonial {
        text-align: left;
        &:nth-of-type(even) {
            text-align: right;
        }
        & > p {
            margin: 0;
            &::before {
                content: "“";
                color: var(--c-subtext1);
            }
            &::after {
                content: "”";
                color: var(--c-subtext1);
            }
        }
        & > address {
            color: var(--c-subtext1);
            font-size:small;
        }
        margin: 10px 0;
    }
</style>
<section id="testimonials" class="insignificant" {...extraAttributes}>
    {!noHeader ? <h2 class="sectionDenoter">Testimonials</h2> : ""}
    {
        testimonials.map(testimonial => 
            <div class="testimonial">
                <p>{testimonial.text}</p>
                <address>{testimonial.from}</address>
            </div>
        )
    }
</section>